.Cart {
  width: 98%;
  margin: 20px auto;
  height: 735px;
  border: 2px solid rgb(44, 197, 57);
  background-color: rgba(0, 0, 0, 0.815);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.order {
  font-size: 1.5rem;
  text-align: center;
}

span {
  font-size: 2rem;
  font-weight: bold;
}
