.Home {
  width: 98%;
  margin: 20px auto;
  height: 735px;
  border: 2px solid rgb(44, 197, 57);
  background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)),
    url('../../assets/images/jalapeno_cut.jpg');
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 80%;
  height: 100%;
}

.motto {
  color: rgb(31, 187, 0);
  font-size: 5rem;
  font-weight: bold;
  font-style: italic;
  margin: 5% auto;
}

.shortIntro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.longIntro {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
