.Header {
  background-color: rgba(27, 27, 27, 0.95);
  border-bottom: 3px solid rgb(206, 206, 206);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left {
  width: 600px;
}

.right {
  width: 300px;
}

.logo {
  height: 42px;
  border-radius: 5px;
  border: 3px solid rgb(102, 226, 77);
  filter: brightness(70%);
  transition: all 0.4s;
}

.logo:hover {
  border: 3px solid rgb(102, 226, 77);
  filter: brightness(100%);
  transition: all 0.2s;
}
