.Header {
  background-color: rgba(27, 27, 27, 0.95);
  border-bottom: 3px solid rgb(206, 206, 206);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.left {
  width: 600px;
}

.right {
  width: 300px;
}
